* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: black; */

}
.navbar {  
    flex-direction: row;
    background-color: greenyellow;
}
.logo1 {
    margin-left: 500px;
}
.logo1 ul li {
    display: inline-block;
    flex-direction: row;
    text-decoration: none;  
    font-size: x-large; 
}
.link2 {
    margin-left: 150px;
}
.link3 {
    margin-left: 150px;
}
/* home section */
.home {
    height: auto;
    display: flex;
    flex-direction: row;
    font-style: italic;
}
.kitchen {
    margin-top: 70px;
}
.kitchen p {
    font-size: xx-large;
    font-weight: 700;
    margin-top: 40px ;
}
.pizza img{
    margin-left: 20%; 
}
span {
    color: red;
}
/* recipes section */
#recipes{
    text-align: center;
}
.recipes {
    display: flex;
    flex-direction: row;
    text-align: center;
    color: #F60E0E;
    background-color: greenyellow;
}
.pizzaimage img {
    border-radius: 50%;
    height: 300px;
    margin-left: 50px;
}
.pizza2 img {
    border-radius: 50%;
    height: 300px;
    margin-left: 40px;
}
.pizza3 img {
    border-radius: 50%;
    height: 300px;
    margin-left: 40px;  
}
/* form section */
#form {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
}
select {
    height: 50px;
    width: 350px;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: red;  
}
/* table */
.table1 {
    height: 40vh;
    background-color: greenyellow;  
    display: none;
}

.section {
    background-color: greenyellow;
    height: 400px;
    display: none;

}
.completebutton, #location, .deliverybutton {
    display: none;
}

